*,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #33312e;
  text-align: center;
}

button {
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  font-family: "Roboto";
  font-size: 0.9rem;
  background-color: #8ed081;
  color: black;
}

button:disabled {
  background-color: gray;
  cursor: default;
}
